<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="privacyfriendlyexample.org.secuso.example">

    <!-- hardware sensors may be used -->
    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlystepcounter.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="org.secuso.privacyfriendlystepcounter.receivers.OnBootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.secuso.privacyfriendlystepcounter.receivers.OnShutdownBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <!-- this is for some htc devices (and others) -->
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.secuso.privacyfriendlystepcounter.receivers.StepCountPersistenceReceiver"
            android:process=":remote" />

        <service android:name="org.secuso.privacyfriendlystepcounter.services.AccelerometerStepDetectorService" />
        <service android:name="org.secuso.privacyfriendlystepcounter.services.HardwareStepDetectorService" />
    </application>
</manifest>
