<?xml version="1.0" encoding="utf-8"?>
<!--
    Privacy Friendly Pedometer is licensed under the GPLv3.
    Copyright (C) 2017  Tobias Neidig

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlyactivitytracker">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.HistoryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName=".activities.HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.HistoryActivity" />
        </activity>
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/action_help"
            android:parentActivityName=".activities.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.HistoryActivity" />
        </activity>
        <activity
            android:name=".activities.TrainingActivity"
            android:label="@string/activity_title_training"
            android:parentActivityName=".activities.TrainingOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.TrainingOverviewActivity" />
        </activity>
        <activity
            android:name=".activities.TrainingOverviewActivity"
            android:label="@string/activity_title_training"
            android:parentActivityName=".activities.HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.HistoryActivity" />
        </activity>
        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activities.HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.HistoryActivity" />
        </activity>
        <activity
            android:name=".activities.MotivationAlertTextsActivity"
            android:label="@string/activity_title_motivation_alerts"
            android:parentActivityName=".activities.PreferencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.PreferencesActivity" />
        </activity>
        <activity
            android:name=".activities.WalkingModesActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/activity_title_walking_modes"
            android:parentActivityName=".activities.PreferencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.PreferencesActivity" />
        </activity>
        <activity
            android:name=".activities.WalkingModeLearningActivity"
            android:label="@string/activity_title_walking_modes"
            android:parentActivityName=".activities.WalkingModesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.WalkingModesActivity" />
        </activity>
        <activity
            android:name=".activities.DistanceMeasurementActivity"
            android:label="@string/action_distance_measurement"
            android:parentActivityName=".activities.HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyactivitytracker.activities.HistoryActivity" />
        </activity>
        <activity android:name=".activities.WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.OnBootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnShutdownBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <!-- this is for some htc devices (and others) -->
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnPackageReplacedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.StepCountPersistenceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlystepcounter.WALKING_MODE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.WidgetReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>
        <receiver android:name=".receivers.MotivationAlertReceiver" />
        <receiver android:name=".receivers.HardwareStepCountReceiver" />

        <service android:name=".services.HardwareStepCounterService" />
        <service android:name=".services.MovementSpeedService" />
        <service android:name=".services.AccelerometerStepDetectorService" />
        <service
            android:name=".services.HardwareStepDetectorService"
            android:stopWithTask="false" />
    </application>

</manifest>